.feedback-comment {
  &__field {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 12px;
    outline: none;
    border: 1px solid #eaecf0;
    background-color: #fafafa;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    ::-webkit-input-placeholder {
      color: #7f899e;
    }
    ::-moz-placeholder {
      color: #7f899e;
    }
    :-moz-placeholder {
      color: #7f899e;
    }
    :-ms-input-placeholder {
      color: #7f899e;
    }
  }
  &__count {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #7f899e;
  }
}

@media (max-width: 576px) {
  .feedback-comment {
    &__field {
      padding: 16px 12px;
      height: 146px;
    }
  }
}
