@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.feedback {
  font-family: Montserrat;
  margin: 0 auto;
  max-width: 560px;
  border-radius: 16px;
  background-color: #ffffff;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 16px 32px;
    border-bottom: 1px solid #eaecf0;
  }
  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
  }
  &__close {
    width: 13px;
    height: 13px;
    &:hover {
      cursor: pointer;
    }
  }
  &__content {
    padding: 23px 32px 24px 32px;
  }
  &__rating {
    margin-bottom: 8px;
  }
  &__comment {
    margin-bottom: 16px;
  }
  &__footer {
    padding: 15px 16px 15px 0;
    border-top: 1px solid #eaecf0;
    text-align: right;
  }
  &__send {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: #53c6d1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
  }
}

.feedback-author {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
  &__img {
    width: 102px;
    height: 68px;
    border-radius: 6px;
    margin-right: 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    margin: 0 0 3px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    text-align: left;
  }
  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #50586a;
  }
}

@media (max-width: 576px) {
  .feedback {
    &__header {
      padding: 16px 22px 15px 16px;
    }
    &__content {
      padding: 14px 16px 24px 16px;
    }
    &__rating {
      margin-bottom: 5px;
    }
  }
  .feedback-author {
    flex-wrap: wrap;
    margin-bottom: 24px;
    &__img {
      margin-bottom: 13px;
      width: 84px;
      height: 56px;
    }
  }
}
