.feedback-rating {
  display: flex;
  flex-wrap: wrap;
  min-height: 165px;
  max-width: 440px;
  &__item {
    margin: 0 45px 27px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 175px;
  }
  &__indicator {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  &__stars {
    width: 162px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 5px;
  }
  &__star {
    width: 21px;
    height: 21px;
    fill: #eaecf0;
    cursor: pointer;
    &:hover {
      fill: #53c6d1;
    }
  }
}

@media (max-width: 576px) {
  .feedback-rating {
    &__item {
      margin-bottom: 23px;
    }
    &__indicator {
      margin-bottom: 13px;
    }
    &__stars {
      width: 170px;
    }
  }
}
